@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Inter:wght@100..900&family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.mulish-font {
    font-family: "Mulish", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
/*shared Items starts*/
.title{
    font-size: 2.6rem;
    font-weight: 800;
}
.dark-2{
    color: rgb(66, 66, 71);
}
.para-content{
    font-size: 1.1rem;
    font-weight: 400;
    color: #BABEC4;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}
.orange{
    color: rgb(255, 84, 0);
}
.btn-primary{
    background-color: rgb(255, 84, 0);
    color: white;
    width: 174px;
    height: 50px;
    padding: 0.5rem;
    border-radius: 1rem;
    border: none;
    /* display: flex; */
}
.para-color{
    color: rgba(19, 19, 24, 0.7);
    margin: 0 auto;
}
.para-width{
    width: 650px;
}
.btn-font{
    font-size: 1.25rem;
    font-weight: 800;
    height: auto;
    padding: 1rem;
    margin: 1rem;
    
}
.text-center{
text-align: center;}
/*shared Items starts*/

/*snavbar starts*/
.navbar{
    width: 90%;
    margin: 3rem auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    display: flex;
    align-items: center;
    gap: 2rem;

}
.nav-options{
    display: flex;
    justify-content: space-between;
    text-align: center;
    gap: 4rem;
    font-size: 1.4rem;
}

/*navbar Items ends*/
/* banner section start */
.banner{
    width: 90%;
    margin: 0 auto;
    background-image: linear-gradient(180.00deg, rgba(19, 19, 24, 0.8),rgba(19, 19, 24, 0) 100%), url("./Images/banner.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    /* padding: 5rem; */
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 16px;
    
}
.banner-title{
    font-size: 4rem;
    font-weight: 800;
    color: white;
}
.banner-content{
    width: 670px;
}
.input-box{
    border-radius: 8px;
   background: rgba(255, 255, 255, 0.3);
   padding: 1.2rem;
   backdrop-filter: blur;
   gap: 0.5rem;
}
input, select{
    width: 170px;
    height: 35px;
    padding: 0.5rem;
    border-radius: 1rem;
    border: none;
}
#type{
    width: 170px;
    height: 35px;
    padding: 0.5rem;
    border-radius: 1rem;
    border: none;
}
#time{
    width: 170px;
    height: 35px;
    padding: 0.5rem;
    border-radius: 1rem;
    border: none;
}
/* Tour and placesections starts */
.tour, .place{
    width: 90%;
    display: flex;
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 100px;
}
.tourplace-text{
    width: 50%;
    text-align: left;
    padding-right: 4rem;
}
.tourplace-text ul{
    padding-left: 25px;
}
.tourplace-text li{
    padding-top: .5rem;
    padding-bottom: .5rem;
}
.tourplace-image{
    /* height: 200px; */
    border-radius:16px ;
    width: 50%;
}

.tourplace-image img{
    width: 100%;
    /* height: 100%; */
}
.tour-img img{
    height: 530px;
}
.font-bold{
    font-weight: 800;
}
/* Tour sections ends */
/* Destination section starts */
.Destination{
    width: 90%;
    margin: 0 auto;
}
 .country-card{
    position: relative;
 }
 .country-card img{
    width: 100%;
    height: 300px;
    filter: brightness(70%);    
 }
 .country{
    position: absolute;
    color: white;
    font-size: 1.8rem;
    font-weight: 800;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
 }
.row-1, .row-2, .row-3{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    margin: 1rem 0;
}
.row-2{
    grid-template-columns: 1fr 1.25fr .75fr;
}
.row-3{
    grid-template-columns: .85fr 1.15fr;
}
/* Destination section ends */
/* choose section starts here */
.choose{
    width: 90%;
    margin: 0 auto;
    margin-top: 5rem;
}
.choose-cards{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
    padding: 1.3rem;
}
.choose-cards p{
    color: rgb(90, 90, 93);
}
.card1, .card2, .card3{
    height: 300px;
}
.card1, .card3{
    border: 1px solid rgba(251, 181, 99, 0.2);
    border-radius: 16px;
    background: rgba(251, 181, 99, 0.05);
    padding: 1.3rem;
}
.card2{
    border: 1px solid rgba(41, 206, 246, 0.2);
    border-radius: 16px;
    background: rgba(41, 206, 246, 0.05);
    padding: 1.3rem;
}
.choose-title{
    color: rgba(19, 19, 24);
    font-size: 1.5rem;
    font-weight: 800;
    margin-bottom: 1rem;  
}
/* choose section ends here */
/* <!-- Package section starts --> */

/* <!-- Package section ends --> */




  